.center {
  display: flex;
  margin-top: 2%;
}

.title {
  font-size: 1.48rem;
  opacity: 0.65;
}

.marg {
  margin-left: -10%;
}

.inputBox input,
.inputBox select {
  position: relative;
  width: 5.7rem;
  height: 3rem;
  border: 1px solid #111;
  background: transparent;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  font-size: 1.4rem;
  color: #000000;
  text-align: center;
  transition: 0.5s;
  box-shadow: 0.7px 0.7px 0.5px rgba(0, 0, 0, 0.36);
}

.inputBox select {
  width: 10rem;
  text-align: left;
}

.inputBox label {
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
  color: #000000b1;
  transition: 0.5s;
  cursor: text;
}

.month {
  right: 9rem;
  width: 2.9rem;
}

.year {
  right: 4.6rem;
  width: 1.3rem;
}

.day {
  right: 4.7rem;
  width: 2.1rem;
}

#fill {
  font-size: 1rem;
  background-color: rgb(251, 251, 251);
  transform: translateY(-1.7rem) translateX(-0.2rem);
}

.inputBox input:focus ~ label,
.inputBox select:focus ~ label {
  font-size: 1rem;
  color: #37b92b;
  background-color: rgb(251, 251, 251);
  transform: translateY(-1.7rem) translateX(-0.2rem);
}

.inputBox input:focus,
.inputBox select:focus {
  border: 1px solid #37b92b;
}

.errorStyle input:focus ~ label,
.errorStyle select:focus ~ label {
  font-size: 1rem;
  color: #37b92b;
  background-color: rgb(251, 251, 251);
  transform: translateY(-1.7rem) translateX(-0.2rem);
}

.errorStyle input:focus,
.errorStyle select:focus {
  border: 1px solid #37b92b;
}

.errorStyle label {
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
  color: #c22222;
  transition: 0.5s;
  cursor: text;
}

.errorStyle input,
.errorStyle select {
  border: 1px solid #c22222;
  position: relative;
  width: 5.7rem;
  height: 3rem;
  background: transparent;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  font-size: 1.4rem;
  color: #000000;
  text-align: center;
  transition: 0.5s;
  box-shadow: 0.7px 0.7px 0.5px rgba(0, 0, 0, 0.36);
}

.p {
  margin-top: 1.2%;
  margin-bottom: -2%;
  color: #c22222;
}

.errorStyle select {
  width: 10rem;
  text-align: left;
}
