.center {
  display: flex;
  margin-top: 2%;
  height: 6vh;
}

.inputBox {
  margin-right: 5%;
}

.inputBox input {
  position: relative;
  width: 15rem;
  height: 2.5rem;
  border: 1px solid #000000;
  background: transparent;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
  color: #000000;
}

.inputBox label {
  position: relative;
  left: 1rem;
  bottom: 2rem;
  display: inline-block;
  font-size: 1.2rem;
  color: #000000b1;
  transition: 0.5s;
  cursor: text;
}

.fir {
  width: 2.2rem;
}

.fin {
  width: 5.3rem;
}

#fill {
  font-size: 1rem;
  letter-spacing: 0.2rem;
  background-color: rgb(251, 251, 251);
  transform: translateY(-1.25rem);
}

.inputBox input:focus ~ label {
  font-size: 1rem;
  letter-spacing: 0.2rem;
  color: #37b92b;
  background-color: rgb(251, 251, 251);
  transform: translateY(-1.25rem);
}

.inputBox input:focus {
  border: 1px solid #37b92b;
}
