.center,
.errorStyle {
  display: flex;
  margin-top: 4%;
  margin-bottom: 2%;
}

.wiPass {
  width: 3.2rem;
}

.wiPassTw {
  width: 5.2rem;
}

.phn:hover {
  background-color: #edf9ed;
}

.center input,
.errorStyle input {
  position: relative;
  width: 17rem;
  height: 3rem;
  border: 1px solid #111;
  background: transparent;
  padding: 10px 2.2rem 10px 15px;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  font-size: 1.4rem;
  transition: 0.5s;
  color: #000000;
  box-shadow: 0.7px 0.7px 0.5px rgba(0, 0, 0, 0.36);
}

.errorStyle input {
  border: 1px solid #c22222;
}

.center label,
.errorStyle label {
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
  color: #000000b1;
  transition: 0.5s;
  cursor: text;
  right: 16rem;
  height: 1rem;
}

.errorStyle label {
  color: #c22222;
}

#fill {
  font-size: 1rem;
  background-color: rgb(251, 251, 251);
  transform: translateY(-1.75rem) translateX(-0.2rem);
}

.marg {
  margin-left: -7%;
}

.center input:focus ~ label,
.errorStyle input:focus ~ label {
  font-size: 1rem;
  color: #37b92b;
  background-color: rgb(251, 251, 251);
  transform: translateY(-1.75rem) translateX(-0.2rem);
}

.center input:focus,
.errorStyle input:focus {
  border: 1px solid #37b92b;
}

.p {
  color: #c22222;
  margin-top: -4.5%;
  margin-bottom: 5%;
}

.pass {
  color: #000000b1;
}

.hide {
  position: relative;
  cursor: pointer;
  left: 15rem;
  bottom: 2rem;
}

.hide2 {
  position: relative;
  cursor: pointer;
  right: 7.2rem;
  top: 0.2rem;
}

#mar {
  margin-top: -4rem;
}

@media all and (max-width: 1902px) {
  .center input,
  .errorStyle input {
    width: 14rem;
    height: 3rem;
  }

  .center label,
  .errorStyle label {
    right: 13rem;
    height: 1rem;
  }

  .p {
    margin-top: -0.5%;
    margin-bottom: 5%;
  }

  .hide {
    left: -6rem;
    bottom: -0.3rem;
  }
}

@media all and (max-width: 1764px) {
  .hide {
    left: 12rem;
    bottom: 1.9rem;
  }

  .p {
    margin-top: -4.5%;
  }
}

@media all and (max-width: 1528px) {
  .marg {
    margin-left: -11%;
  }
}

@media all and (max-width: 1520px) {
  .hide {
    left: -5.4rem;
    bottom: -0.2rem;
  }

  .p {
    margin-top: -0.5%;
  }
}

@media all and (max-width: 1450px) {
  .hide {
    left: 11.9rem;
    top: -2rem;
  }

  .p {
    margin-top: -4.3%;
  }
}

@media all and (max-width: 1330px) {
  .hide {
    left: 8.3rem;
    bottom: 2.2rem;
  }
}

@media all and (max-width: 1328px) {
  .center label,
  .errorStyle label {
    right: 16rem;
  }

  .marg {
    margin-left: 0;
  }

  .center,
  .errorStyle {
    flex-direction: column;
  }

  .wiPass {
    width: unset;
  }

  .wiPassTw {
    width: unset;
  }

  .center input,
  .errorStyle input {
    width: 17rem;
    height: 3rem;
    margin-bottom: 1rem;
  }

  .hide {
    left: -6.5rem;
    top: 0rem;
  }

  .hide2 {
    left: -9.2rem;
  }
}

@media all and (max-width: 1320px) {
  .center input,
  .errorStyle input {
    width: 15rem;
    height: 2.6rem;
    font-size: 1.3rem;
  }

  .center label,
  .errorStyle label {
    font-size: 1.3rem;
    right: 14.2rem;
  }

  .center input:focus ~ label,
  .errorStyle input:focus ~ label,
  #fill {
    transform: translateY(-1.5rem) translateX(-0.2rem);
  }
}

@media all and (max-width: 908px) {
  .center input,
  .errorStyle input {
    width: 13rem;
    height: 2.2rem;
    font-size: 1.1rem;
  }

  .center label,
  .errorStyle label {
    font-size: 1.1rem;
    right: 12.2rem;
  }

  .p {
    font-size: 0.9rem;
  }

  .center input:focus ~ label,
  .errorStyle input:focus ~ label,
  #fill {
    transform: translateY(-1.3rem) translateX(-0.2rem);
  }

  .hide2 {
    left: -8.5rem;
  }
}

@media all and (max-width: 728px) {
  .p {
    font-size: 0.8rem;
  }

  .center input,
  .errorStyle input {
    width: 11rem;
    height: 2rem;
    font-size: 1rem;
  }

  .center label,
  .errorStyle label {
    font-size: 1rem;
    right: 10.3rem;
  }

  #fill {
    font-size: 0.8rem;
    transform: translateY(-1.2rem) translateX(-0.2rem);
  }

  .center input:focus ~ label,
  .errorStyle input:focus ~ label {
    font-size: 0.8rem;
    transform: translateY(-1.2rem) translateX(-0.2rem);
  }

  .hide {
    left: -5.5rem;
    top: 0.3rem;
  }

  .hide2 {
    left: -7.5rem;
    top: 0.3rem;
  }
}

@media all and (max-width: 600px) {
  .hide {
    left: 90%;
    top: -3.9rem;
  }

  .p {
    margin-top: -9.5%;
    margin-bottom: 3%;
  }
}

@media all and (max-width: 526px) {
  .p {
    margin-top: -11.5%;
  }

  #mar {
    margin-top: -3rem;
  }
}
@media all and (max-width: 426px) {
  #mar {
    margin-top: -2.5rem;
  }

  .p {
    margin-top: -15.5%;
  }
}

@media all and (max-width: 336px) {
  .p {
    margin-top: -17.5%;
  }

  .hide {
    left: 85%;
    top: -3.9rem;
  }
}

@media all and (max-width: 282px) {
  .p {
    margin-top: -23%;
  }
}
