.center,
.errorStyle {
  display: flex;
  margin-top: 2%;
  margin-bottom: 0.5%;
}

.crd {
  color: #000000b1;
}

.center input,
.errorStyle input {
  position: relative;
  width: 15rem;
  height: 2.5rem;
  border: 1px solid #111;
  background: transparent;
  padding: 10px;
  padding-left: 15px;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
  transition: 0.5s;
  color: #000000;
}

.errorStyle input {
  border: 1px solid #c22222;
}

.center label,
.errorStyle label {
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
  color: #000000b1;
  transition: 0.5s;
  cursor: text;
  right: 14rem;
  top: 0.5rem;
  height: 1rem;
}

#fill {
  font-size: 1rem;
  letter-spacing: 0.2rem;
  background-color: rgb(251, 251, 251);
  transform: translateY(-1.25rem) translateX(-0.2rem);
}

.center input:focus ~ label,
.errorStyle input:focus ~ label {
  font-size: 1rem;
  letter-spacing: 0.2rem;
  color: #37b92b;
  background-color: rgb(251, 251, 251);
  transform: translateY(-1.25rem) translateX(-0.2rem);
}

.center input:focus,
.errorStyle input:focus {
  border: 1px solid #37b92b;
}
