.image {
  width: 90%;
}

.contImage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 40%;
}

.imageG {
  width: 70%;
}

.contImageG {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 40%;
  margin-top: 5%;
}
